html {
    overflow: scroll;
    
}
#logo {
    height: 10em;
    padding-top: 2.5em;
    margin-left: 2vw;
}
#sh-title {
    font-family: 'Spicy Rice', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    color: #faef5b;
    font-size: 5em;
    margin: -1.6em 0em 1em -0.7em;
    overflow: hidden;
    padding: .2em 0em .2em 0em;
}
/* fixes margin issues and scaling issues between pages */
#wrapper1 {
    width: 100%;
    height: auto;
    margin-bottom: -.5em;
}
.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    margin: 0em -.23em 0em -.25em;
    padding: .2em 0em .4em 0em;
    background-color: #faef5b;
    font-family: 'Spicy Rice', cursive;
    
}
.navbar a {
    color: black;
    text-decoration: none;
    
}

.shagg-background {
    background-color: gray;
}

.img-shaggs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-shaggs {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: yellow;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs2 {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: chartreuse;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs3 {

    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: rgb(232, 235, 83);;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;

}

aside {
    flex: 1;
    margin: 1em;
    max-height: 30em;
    
}

/* creates a hover color change */
.navbar a:hover {
    color: #5b7c73;
    opacity: 80%;
}
                /* Newsfeed page */
/* creates a scalable newsfeed with standardized picture sizes */
#news-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#newsfeed {
    flex: 4;
    background-color: #5b7c73;
    margin: -2.9em 0em 0em -1em;
    
}

#ntitle {
    text-align: center;
    font-size: 4em;
    margin-top: .7em;
    background-color: cornsilk;
    width: auto;
    padding: .5em .5em .5em .5em;
    font-family: 'Spicy Rice', cursive;

}

.news-item {
    flex: 1;
    text-align: center;
    position: relative;
    margin: 4em 0em;
    width: auto;
    height: auto;

}

.news-item img {
    width: 40%;
    height: auto;
    filter:drop-shadow(10px 7px 4px #2020204f);
}


 .news-item #p1 {
    background-color: cornsilk;
    width: 15%;
    height: 20%;
    align-self: center;
    position: absolute;
    left: 20%;
    bottom: 45%;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    overflow: hidden;
    font-size: .9vw;
}

.news-item #p2 {
    background-color: cornsilk;
    width: 15%;
    height: 15%;
    align-self: center;
    position: absolute;
    left: 20%;
    bottom: 45%;
    padding: 1em .5em 1.2em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    overflow: hidden;
    font-size: .9vw;
}

.news-item #p3 {
    background-color: cornsilk;
    width: 15%;
    height: 40%;
    align-self: center;
    position: absolute;
    left: 20%;
    bottom: 45%;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    overflow: hidden;
    font-size: .9vw;
}
.news-item #p4 {
    background-color: cornsilk;
    width: 15%;
    height: 22%;
    align-self: center;
    position: absolute;
    left: 20%;
    bottom: 45%;
    padding: 1em .5em 1.4em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    overflow: hidden;
    font-size: .9vw;
}
.news-item p{
    line-height: 1.5em;
}

/* CSS for career page */
.career {
    background-color: #5B7C73;
    margin: -2.5em 0em 0em 0em;
}
.centeredH2 {
    text-align: center;
    font-size: 3em;
    padding: 1.25em;
    filter:drop-shadow(1px 1px 10px cornsilk);
}

#intro {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin: 50px;
    background-color: cornsilk;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.centeredH3 {
    text-align: center;
    font-size: 1.5em;
    background-color: cornsilk;
    margin: 5px;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.centeredP {
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    margin: 5px;
    background-color: cornsilk;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.albumsFlex {
    display:flex;
    justify-content: center;
    align-content: center;
}

.albumsFlex a {
    display: inline-block;
    width: 60%;
    height: auto; 
    padding: .5em 1em .5em 1em;
} 

.album {
    width: 100%;
    height: auto; 
    filter:drop-shadow(10px 7px 4px #2020204f);
}

.careerFlex {  
    display: flex;
}

.careerBottom {
    display:flex;
    margin: 10px;
}

#personal {
    background-color: #5B7C73;
}

.personal-life-header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #000000;
    background-color: #5b7c73;
    text-shadow: rgba(255,255,255,.2) 3px 2px 3px;
}

.personal-life {
    filter:drop-shadow(1px 1px 10px cornsilk);
}

.family-title {
    filter:drop-shadow(1px 1px 10px cornsilk);
}

.family-header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #000000;
    background-color: #5b7c73;
    text-shadow: rgba(255,255,255,.2) 3px 2px 3px;
    padding: 0px 0px 0px 0px;
    
}

.member-photos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.original-member-photo {
    display: flex;
    justify-content: center;
    transform: rotate(-7deg);
    border:5px solid #fff8dc;
    box-shadow: 0 0 5px #000000;
}

.current-member-photo {
    display: flex;
    transform: rotate(7deg);
    height: 250px;
    border:5px solid #fff8dc;
    box-shadow: 0 0 5px #000000;
}

.members-list {
	display: flex;
    width: 100%;
    padding-top: 30px;
}

.single-info {
    background-color: #fff8dc;
	flex: 1;
    margin: 1em;
    padding: 6px;	
    text-align: center;
    border: 3px solid #7198aa;
    box-shadow: 0 0 5px #fff8dc;
}

.member-name {
    font-size: 20px;
    color: #7198aa;
}

.family-info {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: auto;
}

.parent-image {
    display: flex;
    justify-content: center;
    transform: rotate(-7deg);
    border: 5px solid #fff8dc;
    box-shadow: 0 0 5px #000000;
}

.detailed-family {
    background-color: #fff8dc;	
    text-align: center;
    border: 3px solid #7198aa;
    transform: rotate(7deg);
    width: 300px;
    height: 200px;
    padding: 10px;
    box-shadow: 0 0 5px #fff8dc;
}

.father-name {
    font-size: 20px;
    color: #7198aa;
}

.personal-title{
    display: flex;
}
/* scalable footer with fb buttons allowing for resizing  */
footer {
    display: flex;
    justify-content: center;
    background-color: rgb(42, 43, 44);
    flex-direction: space-between;
    padding-right: 1em;
    margin-left: -1em;
    width: 100%;
    height: 1%;
}

.fa {
    padding: 1.2vw;
    width: 1vw;
    height: 1vw;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.6vw;
    line-height: 1.4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid;
    border-color: cornsilk;
    border-width: 1px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 1.4vw 0vw 1.6vw 0vw;
  }

  footer h4 {
      color: cornsilk;
      font-size: 1.4vw;
      padding: .5vw 2% .1vw 7%;
  }

  footer #copy {
      color: rgba(182, 182, 182, 0.767);
      font-size: 1.0vw;
      margin-top: 3.5vw;
      padding-left: 24vw;
     
  }

  #footer-margin {
      padding-left: 28%;
  }

  a strong {
      padding-bottom: 1vw;
  }

/* css for Extras page */
.nav-highlight {
    filter:drop-shadow(1px 1px 12px #014764);

}

.townhall-banner {
    font-size: 2em;
    position: absolute;
    left: 13em;
    padding-top: 1.5em;
}

.townhall {
    display: flex;
    align-items: center;
    left: 4em;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding-bottom: 4em;
    padding-left: 4em;
    border-bottom: 2px solid #655741;
    border-top: 2px solid #655741;
}

.townhall p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 12em;
    left: 26em;
    z-index: 1;
    padding: 1em .5em 1em 1em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#full-page {
    background-color: #5b7c73;
   
}
.banner {
    text-align: center;
    font-size: 2em;
}

.NYT {
    text-align: center;
    align-self: center;
    width: 100%;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 2px solid #655741;
    filter:drop-shadow(10px 7px 4px #2020204f);
}

.shaggPage {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.shaggWiki {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.practice {
    font-size: 2em;
    position: absolute;
    left: 1.8em;
}
.houseparty {
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 5em 0 2em 4em;
    border-bottom: 2px solid #655741;
}

.houseparty p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 18em;
    left: 26em;
    padding: 1em .5em 1em 1em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.get-the-shaggs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 2em 0 2em 2em;
    border-bottom: 2px solid #655741;

}

.dont-push {
    display: flex;
    top: .5em;
    position: absolute;
    padding-left: 31em;
}

.dont-push .arrow{
    padding-top: 3em;

}

.dont-push p {
    text-align: center;
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 15%;
    height: auto;
    position: absolute;
    top: 6em;
    left: 32em;
    z-index: 1;
    padding: .2em .5em .2em .2em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0.5, 0.5, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.store-text {
    text-align: center;
}

.banner-top {
    width:100%;
    margin: -.5em 0em 0em -.5em;
    padding-right: .35em;
    background-image: url(../images/Shaggs-banner-pic.png);
}

/* end of Extras specific css */
