html {
    overflow: scroll;
    
}
#logo {
    height: 10em;
    /* width: 10em; */
    padding-top: 2.5em;
}
#sh-title {
    font-family: 'Spicy Rice', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    color: #faef5b;
    font-size: 5em;
    margin: -1.6em 0em 1em -0.7em;
    overflow: hidden;
    /* width: 6em; */
    padding: .2em 0em .2em 0em;
}


.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin: 0em -.5em 0em -.25em;
    padding: .2em 0em .4em 0em;
    background-color: #faef5b;
    
}
.navbar a {
    color: black;
    text-decoration: none;
    
}

.shagg-background {
    background-color: gray;
}

.img-shaggs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-shaggs {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: yellow;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs2 {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: chartreuse;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs3 {

    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: rgb(232, 235, 83);;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;

}

aside {
    flex: 1;
    margin: 1em;
    max-height: 30em;
    
}


.navbar a:hover {
    color: rgb(232, 235, 83);
    opacity: 80%;
}

#news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#newsfeed {
    flex: 4;
    background-color: #5b7c73;
    margin: -2.9em -1em 0em -1em;
    
}

#ntitle {
    text-align: center;
    font-size: 3.5em;
    width: 5em;
    padding-top: .5em;
    height: 1.6em;
    position: relative;
    top: 1em;
    left: 14.6em;
    background-color: cornsilk;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#news-item {
    flex: 1;
    margin: 5em;
    text-align: center;
    position: relative;
}

#news-item img {
    width: 40%;
    height: auto;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#news-item #nw2 {
    margin: -4em 0em;
}


#news-item p {
    background-color: cornsilk;
    width: 15%;
    height: auto;
    align-self: center;
    position: absolute;
    top: 5em;
    left: 22em;
    z-index: 1;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
    
}
#news-item p{
    line-height: 1.5em;
}

/* CSS for career page */
.career {
    background-color: #5B7C73;
    margin: -2.5em 0em 0em 0em;
}
.centeredH2 {
    text-align: center;
    font-size: 3em;
    padding: 1.25em;
    filter:drop-shadow(1px 1px 10px cornsilk);
}

#intro {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin: 50px;
    background-color: cornsilk;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.centeredH3 {
    text-align: center;
    font-size: 1.5em;
    background-color: cornsilk;
    margin: 5px;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.centeredP {
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    margin: 5px;
    background-color: cornsilk;
    filter:drop-shadow(5px 5px 2px #2020204f)
}

.albumsFlex {
    display:flex;
    justify-content: center;
    align-content: center;
}

.albumsFlex a {
    display: inline-block;
    width: 60%;
    height: auto; 
    padding: .5em 1em .5em 1em;
} 

.album {
    width: 100%;
    height: auto; 
    filter:drop-shadow(10px 7px 4px #2020204f);
}

.careerFlex {  
    display: flex;
}

.careerBottom {
    display:flex;
    margin: 10px;
}

#personal {
    background-color: #5B7C73;
}

.personal-life-header {
    display: flex;
    justify-content: center;
    font-size: 5em;
    color: #655741
}

.family-header {
    display: flex;
    justify-content: center;
    font-size: 5em;
    color: #655741
}

.member-photos {
    display: flex;
    justify-content: center;
}

.original-member-photo {
    display: flex;
    justify-content: center;
    transform: rotate(-7deg);
    border:5px solid #655741
}

.current-member-photo {
    display: flex;
    transform: rotate(7deg);
    height: 250px;
    border:5px solid #655741;
}

.members-list {
    display: flex;
    justify-content: left;
    padding: 30px 20px;
}

.single-member-info {
    padding: 20px;
}

.family-info {
    display: flex;
    justify-content: center;
    padding: 50px 325px;
}

.family-photo {
    display: flex;
    border: 5px solid #655741;
    transform: rotate(-7deg);
}

.parent-info {
    display: flex;
    padding: 20px;
}

.personal-title{
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(42, 43, 44);
    flex-direction: space-between;
    margin: 0em -1em -5em -1em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid;
    border-color: cornsilk;
    border-width: 1px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 1em 12em 1em 1.5em;
  }

  footer h4 {
      color: cornsilk;
      margin: 1.7em 1em 0em 3em;
      font-size: 1.2em;
  }

  footer #copy {
      color: rgba(182, 182, 182, 0.767);
      font-size: .9em;
      margin: 3em -28em 0em 20em;
  }
/* css for Extras page */
.nav-highlight {
    background-color: #7198AA;
    padding: 0 .2em 0 .2em;

}

.townhall-banner {
    font-size: 2em;
    position: absolute;
    left: 13em;
    padding-top: 1.5em;
}

.townhall {
    display: flex;
    align-items: center;
    left: 4em;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding-bottom: 4em;
    padding-left: 4em;
    border-bottom: 2px solid #655741;
    border-top: 2px solid #655741;
}

.townhall p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 12em;
    left: 26em;
    z-index: 1;
    padding: 1em .5em 1em 1em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#full-page {
    background-color: #5b7c73;
   
}
.banner {
    text-align: center;
    font-size: 2em;
}

.NYT {
    text-align: center;
    align-self: center;
    width: 100%;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 2px solid #655741;
    filter:drop-shadow(10px 7px 4px #2020204f);
}

.shaggPage {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.shaggWiki {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.practice {
    font-size: 2em;
    position: absolute;
    left: 1.8em;
}
.houseparty {
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 5em 0 2em 4em;
    border-bottom: 2px solid #655741;
}

.houseparty p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 18em;
    left: 26em;
    padding: 1em .5em 1em 1em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.get-the-shaggs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 2em 0 2em 2em;
    border-bottom: 2px solid #655741;

}

.dont-push {
    display: flex;
    top: .5em;
    position: absolute;
    padding-left: 31em;
}

.dont-push .arrow{
    padding-top: 3em;

}

.dont-push p {
    text-align: center;
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 15%;
    height: auto;
    position: absolute;
    top: 6em;
    left: 32em;
    z-index: 1;
    padding: .2em .5em .2em .2em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0.5, 0.5, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.store-text {
    text-align: center;
}

.banner-top {
    background-image: url(../images/Shaggs-banner-pic.png);
}

/* end of Extras specific css */
