html {
    overflow: scroll;
    
}
#logo {
    height: 10em;
    width: 10em;
    padding-top: 2em;
}
h1 {
    text-align: center;
    color: #faef5b;
    font-size: 5em;
    margin: -1.4em 0em 0em 0em;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    margin: 2em 0em 0em 0em;
    background-color: #faef5b;
    
}
.navbar a {
    color: black;
    text-decoration: none;
    
}

.shagg-background {
    background-color: gray;
}

.img-shaggs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-shaggs {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: yellow;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs2 {
    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: chartreuse;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-shaggs3 {

    display: flex;
    width: 100%;
    max-height: 300x;
    background-color: yellow;
    width: 300px;
    height: 231px;
    margin-left: auto;
    margin-right: auto;

}

aside {
    flex: 1;
    margin: 1em;
    max-height: 30em;
    
}


.navbar a:hover {
    color: grey;
}

#news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#newsfeed {
    flex: 4;
    background-color: rgb(232, 235, 83);
    margin: -2.5em -1em -1em -1em;
}

main h2{
    text-align: center;
    font-size: 3em;
    padding-top: 2em;
}

#news-item {
    flex: 1;
    margin: 5em;
    text-align: center;
    position: relative;
}

#news-item img {
    width: 40%;
    height: auto;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#news-item #nw2 {
    margin: -4em 0em;
}


#news-item p {
    background-color: cornsilk;
    width: 15%;
    height: auto;
    align-self: center;
    position: absolute;
    top: 5em;
    left: 22em;
    z-index: 1;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
    
}
#news-item p{
    line-height: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}

.career {
    background-color: rgb(232, 235, 83);
    margin: -2.5em 0em -1em 0em;

}
.centeredH2 {
    text-align: center;
    text-decoration: underline;
}

#intro {
    text-align: center;
    font-size: 1.5em;
}

.centeredH3 {
    text-align: center;
    text-decoration: underline;
}

.centeredP {
    text-align: center;
}

.albumsFlex {
    display:flex;
    justify-content: center;
    align-content: center;
}

.album {
    width: 30%;
    height: auto;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.careerFlex {  
    display: flex;
}

.careerBottom {
    display:flex;
    justify-content: center;
}
.personal-title{
    display: flex;
}

/* css for Extras page */
.nav-highlight {
    background-color: #7198AA;
}
.townhall {
    display: flex;
    align-items: center;
    left: 4em;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding-bottom: 4em;
    padding-left: 4em;
    border-bottom: 2px solid #655741;
}

.townhall p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 12em;
    left: 26em;
    z-index: 1;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

#full-page {
    background-color: #5b7c73;
   
}
.banner {
    text-align: center;
    font-size: 2em;
}

.NYT {
    text-align: center;
    align-self: center;
    width: 100%;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 2px solid #655741;
    filter:drop-shadow(10px 7px 4px #2020204f);
}

.shaggPage {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.shaggWiki {
    font-size: small;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.90);
    width: 100%;
    height: auto;
    padding: .5em .5em .7em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}
.houseparty {
    display: flex;
    align-items: right;
    left: 4em;
    padding: 3em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 5em 0 2em 4em;
    border-bottom: 2px solid #655741;
}

.houseparty p {
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 50%;
    height: auto;
    position: absolute;
    top: 18em;
    left: 26em;
    z-index: 1;
    padding: 1em .5em 1em .5em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.get-the-shaggs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    filter:drop-shadow(10px 7px 4px #2020204f);
    padding: 2em 0 2em 4em;
    border-bottom: 2px solid #655741;

}

.dont-push {
    display: flex;
    top: .5em;
    position: absolute;
    padding-left: 35em;
}

.dont-push .arrow{
    padding-top: 3em;

}

.dont-push p {
    text-align: center;
    font-size: small;
    background-color: rgba(255, 248, 220, 0.90);
    width: 15%;
    height: auto;
    position: absolute;
    top: 6em;
    left: 35em;
    z-index: 1;
    padding: .2em .5em .2em .2em;
    filter:drop-shadow(10px 7px 4px #2020204f)
}

.store-text {
    text-align: center;
}

.banner-top {
    background-image: url(Shaggs-banner-pic.png);
}

/* end of Extras specific css */